@using MyWebApp.Models
@model IEnumerable<Korisnik>
@{
    Layout = null;
}

<table border="1">
    <tr><td>Ime</td><td>Prezime</td></tr>
    @foreach(Korisnik k in Model)
    {
    <tr>
        <td>
            @k.Ime
        </td>
        <td>
            @k.Prezime
        </td>
        <td>
            <form action="~/Vlasnik/AngazujTrenera" method="post">
                <input type="hidden" name="Id" value="@k.KorisnickoIme" />
                <button type="submit">DODAJ GA</button>
            </form>
        </td>
        
    </tr>
    }
</table>


