@{
    Layout = null;
}
@using MyWebApp.Models
@model GrupniTrening

<body onload="provera()">
    <form action="~/Trener/DodajTrening">
        <input type="hidden" name="Id" />
        <label>Unesite novi naziv: <input required type="text" name="Naziv" /></label><br />
        <label>Unesite novi tip treninga: <input required type="text" name="TipTreninga" /></label><br />
        <label>Unesite novo trajanje: <input required type="number" name="Trajanje" /></label><br />
        <label>Datum i vreme: <input id="vreme" required name="DatumIVreme" type="datetime-local" /></label><br />
        <label>Maksimalni broj posetilaca: <input required name="MaksPosetilaca" type="number" /></label><br />
        <input type="submit" value="Dodaj" />
    </form>
</body>
