@{
    Layout = null;
}
<form action="~/Centri/PrijaviSe">
    <label>Unesite vas username: <input required type="text" name="KorisnickoIme" /></label><br />
    <label>Unesite vasu lozinku: <input required type="password" name="Lozinka" /></label><br />
    <input type="submit" value="Prijavi se" />
</form>

